*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {

  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
    display: inline-block;
  }
  
  address {
    font-style: normal;
  }
  
  ul { 
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

:root {
    --color-praimari-dark: #0F2336;
    --color-praimeri-light: #00CCCC;
    --color-praimeri-bagra: #F4F5F6;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

body {
    margin: 0;
    color: var(--color-praimari-dark);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
}

.header{
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  font-size: 14px;
}

.header__container {
  display: flex;
  gap: 40px;
}

.heder-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.heder-ul {
  display: flex;
  gap: 40px;
  margin-left: 60%;
  align-items: center;
}

.link{
  text-decoration: none;
  color: var(--color-praimari-dark);
}

.button__logo{
  color: aliceblue;
  background-color: var(--color-praimari-dark);
  border: 1p solid var(--color-praimari-dark);
  padding: 10px 15px;
  border-radius: 5px;
}

.heder-section {
  padding: 224px 0; 
  background-image: url(../img/Fon.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.header-logo {
  margin-bottom: 48px;
  color: var(--color-praimari-dark);
  max-width: 475px;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 900;
}

.header__logo-span {
  color: var(--color-praimeri-light);
}

.header__logo-end {
  color: #F3AF47;
}

.header-button {
  border: 1px solid var(--color-praimeri-light);
  padding: 10px 15px;
  border-radius: 8px;
  background-color: var(--color-praimeri-light);
  font-size: 17px;
}

.order__ul {
  justify-content: center;
}

.order-container {
  margin-top: 70px;
}

.order__ul {
  display: flex;
  gap: 55px;
}

.order__ul-link {
  max-width: 300px;
}

.order__ul-logo {
  font-size: 25px;
  padding-top: 17px;
}

.order__ul-text {
  font-size: 16px;
  font-weight: lighter;
  display: flex;
}

.telefon-box {
  background-color: var(--color-praimeri-bagra);
  border-radius: 35px;
  display: flex;
  height: 540px;
  align-items: center;
  margin-top: 90px;
}

.telefone__box-tel {
  display: flex;
  background-image: url(../img/Fone.png);
  background-repeat: no-repeat;
  height: 640px;
  position: static;
  width: 100%;
  margin-left: 20px;
}

.tefone-ul {
  padding-left: 45%;
  margin-top: 140px;
  line-height: 1.2;
  margin-bottom: 0;
}

.telefon__text-logo {
  font-size: 16px;
  font-weight: lighter;
}

.telefon__logo {
  font-size: 40px;
  max-width: 195px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.telefon__text {
  font-size: 16px;
  font-weight: lighter;
}

.girlhep {
  background-color: var(--color-praimeri-bagra);
  height: 587px;
  margin-top: 230px;
}

.girlhepi__box {
  display: flex;
  gap: 45px;
  margin-left: 30px;
  height: 587px;
}

.girl__ul {
  padding-bottom: 20px;
  align-items: center;
  padding-bottom: 20px;
}

.girl__ul-link {
  max-width: 455px;
  background-color:#FFFFFF;
  border-radius: 7px;
  min-height: 179px;
  z-index: 1;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  margin-bottom: 25px;
  
}

.girle-img {
  height: 50px;
  width: 50px;
}

.girle__img-box {
  padding-left: 25px;
  display: flex;
  padding-top: 15px;
}

.minibox {
  padding-top: 9px;
  padding-left: 10px;
}

.girlhep__minibox-text {
  font-size: 25px;
}

.girlhep-text {
  font-size: 16px;
  font-weight: 400;
}

.girlhep-text {
  max-width: 325px;
  font-size: 16px;
  font-weight: 400;
}

.girle__ul_li {
  display: block;
  width: 445px;
  margin-left: 55px;
  background-color:#FFFFFF;
  border-radius: 7px;
  min-height: 179px;
  z-index: 1;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  margin-bottom: 25px;
}

.girle-girl {
  margin-bottom: -25px;
  height: 587px;
}

.send-container {
  background-color: var(--color-praimeri-bagra);
  border-radius: 35px;
  display: flex;
  height: 540px;
  align-items: center;
  margin-top: 170px;
}

.send_con {
  display: block;
  background-image: url(../img/rerr.png);
  background-repeat: no-repeat;
  height: 640px;
  position: static;
  width: 100%;
  margin-left: 85px;
}

.send-box {
  padding-left: 45%;
  margin-top: 180px;
  line-height: 1.2;
  margin-bottom: 0;
}

.send__logo-text {
  font-size: 16px;
  font-weight: 400;
}

.send-logo {
  font-size: 40px;
  max-width: 331px;
  margin-bottom: 15px;
}

.send-text {
  font-size: 16px;
  font-weight: 500;
  max-width: 404px;
}

.shon-container {
  margin-top: 170px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shop-logo {
  font-size: 50px;
  margin-bottom: 10px;
}

.shop-fone {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.input {
  position: relative;
}

.modal__form-field {
  margin-bottom: 32px;
}

.input__label {
  position: absolute;
    top: 16px;
    left: 42px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.input__control {
  padding: 8px 24px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    background-color: var(--color-praimeri-bagra);
    border-radius: 8px;
}

.shop-button {
  border: 1px solid var(--color-praimeri-light);
  padding: 10px 15px;

  border-radius: 8px;
  background-color: var(--color-praimeri-light);
  font-size: 17px;
  max-height: 35px;
  align-items: center;
}

.footer{
  background-color: var(--color-praimari-dark);
}

.foter__box-container {
  margin-top: 18px;
  margin-left: 20px;
}

.foter-box {
  display: flex;
  gap: 15px;
}

.foter__box-text {
  display: flex;
  gap: 60px;
  margin-left: 47%;
}

.foter__box-logo {
  color: var(--color-praimeri-light);
  font-size: 12px;
  font-weight: 700px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.foter-ul {
  margin-bottom: 50px;
}

.foter__box-link {
  text-decoration: none;
  color: #bab6b6;
  font-size: 14px;
  font-weight: 400;
}